body {
    background: black;
    margin: 0;
}

header {
    background:#0E1E3F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 14px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 30px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: black;
}

section {
    max-width: 900px;
    margin: 0 auto; 
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman", serif;
}

.about-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;
}

.about-container p {
    font-size: 17px;
    color: white;
    max-width: 500px;
    font-family: cursive;
}

.profile-pic {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%; 
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 150px;
    margin-top: 40px;
}

.project-card {
    width: 300px;
    background: black;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-family: cursive;
}

.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.08);
}

.project-card p {
    font-size: 16px;            
    color: w;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;  
    background-color: darkgray;
}

textarea {
    height: 100px; 
}

button {
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0E1E3F;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

footer {
    background-color:#0E1E3F;
    color: white;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}
